* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/static/images/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-section {
    background-color: transparent;
    background-image: url("/static/images/background.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 60px 20px;
    border-radius: 20px;
}

h1 {
    margin-top: 100px;
    color: #002b5f;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #96b5da;
    border-bottom: 1px solid #617da5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 1.8rem;
    line-height: 1.2;
    color: #181818 !important;
}

.navbar-brand:hover {
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link.btn {
    margin-left: 10px;
    color: #fff !important;
    border-color: #fff;
}

.navbar-nav .nav-link.btn:hover {
    background-color: #001c42;
    color: #fff !important;
    border-color: #001c42;
}

.semi-circle {
    display: inline-block;
    padding: 20px 60px;
    background: rgba(255, 255, 255, 0.8);
    margin: 100px auto 50px;
    border-radius: 50px;
    border: 5px solid #7494ec;
    text-align: center;
}

.semi-circle h1 {
    margin: 0;
    color: #1e5291;
    font-size: 2.5rem;
    text-align: center;
}

#infographic .circle {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    border: 7px double;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px;
    position: absolute;
    left: 50%;
    margin: 40px 0;
}


.circles-container .circle {
    width: 50px;
    height: 50px;
    gap: 30;
    border-radius: 50%;
    border: 5px double;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.side-fixed {
    position: fixed;
    top: 30%;
    width: 200px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.side-fixed.visible {
    opacity: 1;
}

.side-fixed.left {
    left: 5%;
}

.side-fixed.right {
    right: 5%;
}