{% extends 'base.html' %}
{% block title %}
<div class="container text-center">
  <div class="semi-circle">
    <h1>UX-Дизайн</h1>
  </div>
</div>
{% endblock title %}
{% block hero %}
    <img src="/static/images/flower.webp" alt="Слева" class="side-fixed left visible" />
    <img src="/static/images/flower.webp" alt="Справа" class="side-fixed right visible" />
{% endblock hero %}
{% block content %}
<link rel="stylesheet" href="/static/css/ux-design.css"/>
<main id="infographic" class="d-flex flex-column align-items-center py-5">
  <!-- Секция Основа -->
  <section class="step one text-danger">
    <div class="circle">
      <h2>Принятия решений человеком</h2>
    </div>
    <article data-step="1">
      <header class="d-flex align-items-center bg-danger bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Факторы, влияющие на принятие решений
        1)	Когнитивные предубеждения: Это умственные сокращения или шаблоны мышления, которые могут влиять на принятие решений. В качестве примера можно привести предвзятое отношение (слишком сильное опору на первоначальную информацию) и предвзятое отношение подтверждения (поиск информации, подтверждающей убеждения).
        2)	Эмоции: Эмоции могут существенно влиять на принятие решений, даже если люди считают, что делают рациональный выбор. UX-дизайнеры должны продумать, как элементы дизайна могут вызывать положительные эмоции и минимизировать отрицательные.
        3)	Информационная перегрузка: Слишком большой объем информации может привести к когнитивной перегрузке и негативно повлиять на принятие решений. UX-дизайнерам необходимо организовать и представить информацию в удобоваримом и доступном виде.
          ">
          <i class="fa-solid fa-meteor bg-danger"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Факторы</h6>
      </header>
    </article>
    <article data-step="2">
      <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Теория подталкивания - это концепция поведенческой науки, направленная на понимание того, как люди делают выбор и как небольшие, едва заметные изменения в нашем окружении могут оказать значительное влияние на процесс принятия решений. Основная идея, разработанная Ричардом Талером и Кассом Санштейном, заключается в том, что, подталкивая поведение людей в определенном направлении, мы можем побудить их принимать лучшие, более обоснованные решения без необходимости введения жестких правил или норм.
          В контексте UX-дизайна теория подталкивания может применяться различными способами, чтобы повлиять на поведение пользователей и добиться желаемых результатов. Это может включать в себя:
          -	Архитектура выбора: Разработка расположения и упорядочивания вариантов выбора таким образом, чтобы повлиять на решение пользователя. Например, размещение более желательных вариантов в верхней части списка или их визуальное выделение.
          -	По умолчанию: Установка опций по умолчанию, которые побуждают пользователей принимать более правильные решения. Например, предварительный выбор более экологичного варианта доставки или включение параметров конфиденциальности по умолчанию.
          -	Социальное доказательство: Демонстрация того, как другие люди делали аналогичный выбор или имели положительный опыт. Например, представление рейтингов и отзывов о продукте или указание на то, что большое количество пользователей совершили определенное действие, например подписались на рассылку.
          Своевременное вмешательство: Предоставление рекомендаций или подсказок в нужный момент на пути пользователя. Например, предложение помощи, когда пользователь сталкивается со сложной задачей, или напоминание о преимуществах завершения процесса, когда его мотивация может ослабнуть.
          Применяя теорию подталкивания в UX-дизайне, очень важно соблюдать баланс между поощрением позитивного поведения и уважением к самостоятельности пользователя. Дизайнеры должны стремиться предоставить пользователям возможность осмысленного выбора и полезную информацию, а не манипулировать ими или обманывать их.
          ">
          <i class="fa-solid fa-meteor bg-danger"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Теория подталкивания</h6>
      </header>
    </article>
    <article data-step="3">
      <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Поведенческая сетка Б. Дж. Фогга - это система, которая помогает UX-дизайнерам, менеджерам по продукту и маркетологам понять и определить различные типы изменения поведения. Созданная профессором Стэнфордского университета Б. Дж. Фоггом, сетка состоит из 15 типов поведения, основанных на сочетании трех измерений: Продолжительность, Частота и Интенсивность.">
          <i class="fa-solid fa-meteor bg-danger"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Поведенческая сетка Би Джей Фогга</h6>
      </header>
    </article>
    <article data-step="4">
      <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Теория двойного процесса - это психологическая концепция, которая предполагает, что человеческое мышление работает на двух разных уровнях - интуитивном, быстром и автоматическом (известном как система 1), а также более обдуманном, медленном и логическом (система 2). В контексте UX-дизайна понимание этих двух систем может помочь дизайнерам создавать пользовательские интерфейсы и опыт, которые удовлетворяют обоим типам мышления.">
          <i class="fa-solid fa-meteor bg-danger"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Теория двойного процесса</h6>
      </header>
    </article>
    <article data-step="5">
      <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Модель крючка - это концепция, разработанная Ниром Эялем, писателем и предпринимателем. Это концепция, призванная помочь в создании продуктов и услуг, формирующих привычки, путем вовлечения пользователей на более глубоком уровне. Модель Эяля основана на четырех ключевых компонентах, которые призваны стимулировать взаимодействие с пользователем и повторное использование, что в конечном итоге приводит к привыканию. Этими компонентами являются:
        -	Триггер: Триггеры - это сигналы, побуждающие пользователя к действию, либо через внешние стимулы, либо через внутреннюю мотивацию. Внешние триггеры могут быть уведомлениями, рекламой или даже рекомендациями друзей, а внутренние - мыслями или эмоциями пользователя, например, скукой или потребностью в социальной связи.
        -	Действие: Действие - это простая задача, которую пользователь выполняет в ответ на триггер. Действие зависит от контекста и продукта, но в целом оно должно быть простым и иметь четкую связь с триггером. Примером может быть свайп влево или вправо в приложении для знакомств после получения уведомления.
        -	Переменное вознаграждение: Вознаграждение пользователей за совершение действий - важная часть модели Hook. Переменное вознаграждение подразумевает, что пользователи получают разный уровень вознаграждения за свои действия - такая непредсказуемость поддерживает их интерес и любопытство. Платформы социальных сетей являются отличным примером, поскольку пользователи получают лайки, комментарии или ретвиты случайным образом, что побуждает их продолжать взаимодействовать, чтобы получить больше вознаграждений.
        -	Инвестиции: Этот компонент направлен на то, чтобы пользователи вкладывали время или усилия в продукт, что повышает вероятность будущего взаимодействия. Инвестиции могут включать создание профиля, добавление друзей или создание контента. Вкладывая деньги в продукт, пользователи часто ощущают чувство собственности, что повышает вероятность их возвращения и дальнейшего использования.
        Включив эти компоненты в UX-дизайн, вы сможете создать опыт, который побудит пользователей выработать привычки и стать более привязанными к вашему продукту. Однако помните, что привыкание не является главной целью - скорее, речь идет о том, чтобы обеспечить подлинную ценность и улучшить жизнь пользователей положительным образом.          
          ">
          <i class="fa-solid fa-meteor bg-danger"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Модель крючка Нира Эяля</h6>
      </header>
    </article>
  </section>

  <!-- Секция Понимание продукта -->
  <section class="step two text-warning">
    <div class="circle">
      <h2>Понимание продукта</h2>
    </div>
    <article data-step="6">
      <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Компоненты понимания продукта
          1)	Бизнес-цели: Поймите задачи и цели компании или клиента, для которого вы разрабатываете продукт. Они хотят увеличить количество пользователей, повысить продажи или обеспечить бесперебойную работу? Знание целей определит ваши дизайнерские решения и обеспечит соответствие UX-дизайна видению компании.
          2)	Целевая аудитория: Четко определите целевую аудиторию или персону пользователя продукта. Поймите их демографические характеристики, болевые точки и предпочтения. Это понимание поможет вам разработать опыт с учетом их потребностей и ожиданий, что приведет к повышению вовлеченности и удовлетворенности.
          3)	Путешествие пользователя: Составьте схему путешествия пользователя по продукту - от начальной точки контакта до конечной цели. Этот процесс поможет вам выявить области, в которых пользователи могут столкнуться с трудностями или путаницей, и даст вам план для создания плавного потока пользователей.
          4)	Анализ конкурентов: Оцените сильные и слабые стороны продуктов конкурентов, чтобы выявить возможности для дифференциации и улучшения, а также почерпнуть вдохновение из успешных или инновационных разработок.
          5)	Соответствие бренду: Ознакомьтесь с фирменным стилем компании, включая цвета, шрифты и темы. Важно, чтобы ваш дизайн соответствовал бренду, чтобы создать целостный и узнаваемый пользовательский опыт.
          ">
          <i class="fa-solid fa-cookie-bite bg-warning"></i>
        </span>
        <h6 class="text-uppercase my-3 pe-4">Компоненты понимания продукта</h6>
      </header>
    </article>
    <article data-step="7">
      <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Стратегии для понимания продукта
          1)	Опросите заинтересованные стороны: Пообщайтесь с заинтересованными сторонами, такими как менеджеры по продукту и владельцы бизнеса, чтобы получить представление об их целях, требованиях и ожиданиях от проекта.
          2)	Исследование пользователей: Проведите интервью с пользователями, опросы или фокус-группы, чтобы собрать информацию о потребностях, болевых точках и предпочтениях пользователей.
          3)	Привлечение пользователей к проектированию: Привлекайте пользователей к процессу проектирования с помощью таких мероприятий, как совместное проектирование или тестирование юзабилити, где пользователи могут высказать свое мнение о прототипах и дизайне.
          4)	Будьте в курсе тенденций отрасли: Будьте в курсе текущих тенденций в UX-дизайне и технологиях, чтобы ваш дизайн оставался актуальным и современным.
          Инвестируя время в понимание продукта с точки зрения бизнеса, пользователей и конкурентов, вы будете лучше оснащены для создания успешного и впечатляющего UX-дизайна.
          ">
          <i class="fa-solid fa-cookie-bite bg-warning"></i>
        </span>
        <h6 class="text-uppercase my-3 pe-4">Стратегии для понимания продукта</h6>
      </header>
    </article>
    <article data-step="8">
      <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Целевой результат - это четкая, измеримая и ограниченная по времени цель, которую должен достичь ваш продукт. Он определяет желаемые результаты для ваших пользователей и становится фокусом для всего процесса разработки продукта. Четко определенный целевой результат гарантирует, что UX-дизайн будет соответствовать потребностям пользователей и целям бизнеса.
          Вот несколько ключевых элементов, которые следует учитывать при определении целевого результата:
          1)	Потребности пользователей: Сосредоточьтесь на основных проблемах и потребностях ваших пользователей, а также на том, как ваш продукт может их решить. Очень важно, чтобы целевой результат был напрямую связан с удовлетворенностью пользователей.
          2)	Конкретность и измеримость: Целевой результат должен быть достаточно конкретным, чтобы им можно было руководствоваться при принятии проектных решений, и измеримым, чтобы вы могли оценить, достигли ли вы желаемых результатов. Например, вместо того чтобы ставить цель повысить вовлеченность пользователей, можно поставить задачу увеличить среднее время, проведенное в приложении, на 10 % в течение 3 месяцев.
          3)	Реалистичность: целевой результат должен быть достижим с учетом ваших текущих ресурсов, команды и продукта. Постановка слишком амбициозных целей может привести к разочарованию и отсутствию фокуса в процессе разработки.
          4)	Ограниченность по времени: Установите четкие сроки достижения целевого результата. Установление сроков поможет команде сосредоточиться и следовать намеченному курсу, а вам - оценить свой прогресс на этом пути.
          
          Подводя итог, можно сказать, что определение четкого целевого результата является важнейшим этапом в процессе UX-дизайна, поскольку оно направляет процесс принятия решений и помогает убедиться в том, что ваш продукт приносит реальную пользу пользователям. Сосредоточившись на потребностях пользователей, сделав целевой результат конкретным и измеримым, поставив реалистичные цели и определив сроки, вы сможете гарантировать, что UX-дизайн вашего продукта будет соответствовать как потребностям пользователей, так и бизнес-целям.
          ">
          <i class="fa-solid fa-cookie-bite bg-warning"></i>
        </span>
        <h6 class="text-uppercase my-3 pe-4">Целевой результат</h6>
      </header>
    </article>
    <article data-step="9">
      <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Целевой субъект - это конкретный пользователь или группа пользователей, для которых предназначен продукт или услуга. Эти пользователи имеют особые потребности, цели и ожидания от продукта, и понимание их характеристик необходимо для создания UX-дизайна, который обеспечит им оптимальный пользовательский опыт. Этот термин часто используется как взаимозаменяемый с целевой аудиторией или персоной пользователя.
          При разработке дизайна для целевой аудитории крайне важно учитывать следующие факторы:
          1)	Демографические характеристики: Возраст, пол, образование, профессия и местоположение играют важную роль в определении предпочтений и поведения пользователей. Эти факторы помогают дизайнерам создавать понятный и подходящий пользовательский опыт.
          2)	Психографика: Это относится к психологическим аспектам целевой аудитории, таким как их отношение, мотивация и черты характера. Понимание этих аспектов помогает дизайнерам согласовать продукт с ментальными моделями и ожиданиями пользователей.
          3)	Цели и болевые точки: Определение проблем, с которыми сталкиваются целевые субъекты, и их целей помогает дизайнерам создавать решения, которые удовлетворяют их конкретные потребности. Эта информация также помогает расставить приоритеты в характеристиках и функциональных возможностях продукта.
          4)	Владение технологиями: Знакомство пользователей с устройствами и приложениями значительно влияет на их ожидания и поведение при использовании продукта. Дизайнеры должны учитывать уровень владения целевыми субъектами технологиями, чтобы обеспечить плавный и беспроблемный пользовательский опыт.
          Чтобы эффективно разрабатывать дизайн для целевых пользователей, можно использовать такие методы исследования пользователей, как интервью, опросы и юзабилити-тесты. Эта информация помогает дизайнерам создавать точные пользовательские персоны и принимать обоснованные решения, учитывающие потребности целевых пользователей. Если на протяжении всего процесса проектирования целевые пользователи будут находиться в центре внимания, вы в конечном итоге создадите более приятный и успешный продукт.
          ">
          <i class="fa-solid fa-cookie-bite bg-warning"></i>
        </span>
        <h6 class="text-uppercase my-3 pe-4">Целевой субъект</h6>
      </header>
    </article>
    <article data-step="10">
      <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Целевое действие - это фундаментальная концепция проектирования пользовательского опыта, которая фокусируется на основной цели, которую пользователь хочет достичь, взаимодействуя с вашим продуктом. Оно относится к конкретному действию или задаче, которую пользователи стремятся выполнить, что помогает им решить проблему или удовлетворить потребность.
        Понимание целевого действия поможет вам создать более рациональный и эффективный дизайн, оптимизировав интерфейс, элементы и навигацию в соответствии с основными целями пользователей. Вот ключевые аспекты целевого действия:
        1)	Определите целевых пользователей: Для начала узнайте свою аудиторию. Учитывайте демографические данные, интересы и модели поведения, чтобы получить четкое представление о том, кто является вашими целевыми пользователями. Это поможет вам согласовать дизайн продукта с потребностями и ожиданиями пользователей.
        2)	Определите цели пользователей: Поймите, чего хотят добиться пользователи с помощью вашего продукта. Проанализируйте их потребности, предпочтения, болевые точки и привычки, чтобы определить их основные цели.
        3)	Определите четкие действия: Исходя из целей пользователей, определите наиболее важные действия, которые они должны выполнять в вашем продукте. Упростите эти действия, сделав их понятными, очевидными и легкодоступными.
        4)	Проектируйте для успеха: Определите приоритеты целевых действий в дизайне. Сосредоточьтесь на том, чтобы обеспечить четкий путь и направить пользователей к достижению их целей, выделяя основные элементы, упрощая процесс принятия решений и сводя к минимуму отвлекающие факторы.
        5)	Проверьте с помощью тестирования: Убедитесь в том, что ваш дизайн действительно помогает пользователям в достижении их целей, проведя юзабилити-тесты. Собирайте отзывы пользователей, анализируйте результаты и повторяйте дизайн до тех пор, пока пользователи не смогут без труда выполнять свои основные задачи.
        Включив концепцию целевых действий в процесс UX-дизайна, вы сможете создать более интуитивный и ориентированный на пользователя продукт, который эффективно решает основные задачи пользователей и максимально удовлетворяет их потребности.
          ">
          <i class="fa-solid fa-cookie-bite bg-warning"></i>
        </span>
        <h6 class="text-uppercase my-3 pe-4">Целевое действие</h6>
      </header>
    </article>
  </section>

  <!-- Секция Виртуализация -->
  <section class="step three text-success">
    <div class="circle">
      <h2>Бизнес-модели</h2>
    </div>
    
    <article data-step="11">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Холст бизнес-модели - это инструмент стратегического управления и визуального представления, который позволяет описать, спроектировать, поставить под сомнение и изменить существующую бизнес-модель. Разработанный Александром Остервальдером и Ивом Пиньером, он помогает организациям понять, как они создают, предоставляют и улавливают ценность. Холст разделен на девять строительных блоков, которые представляют собой основные элементы бизнес-модели">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Канва бизнес-модели</h6>
      </header>
    </article>
    <article data-step="12">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Lean Canvas - это упрощенный, одностраничный подход к визуализации основных компонентов бизнес-модели. Он был разработан Эшем Морией как адаптация Холста бизнес-модели с целью помочь стартапам и предпринимателям быстро разработать и донести свои бизнес-идеи. Lean Canvas поможет вам определить ваше уникальное ценностное предложение (УЦП), выявить целевых клиентов и наметить стратегию. Давайте рассмотрим его ключевые компоненты:
        Проблема
        Начните с определения основных проблем, которые призван решить ваш продукт. Будьте конкретны и постарайтесь сосредоточиться на самых насущных проблемах, с которыми сталкиваются ваши целевые клиенты.
        Сегменты потребителей
        Определите свою целевую аудиторию. Будьте максимально конкретны, описывая типы клиентов, которые получат наибольшую выгоду от вашего продукта или услуги.
        Уникальное ценностное предложение (УЦП)
        Четко сформулируйте уникальную ценность вашего продукта или услуги для целевых клиентов. Ваше УЦП должно быть отличительным и конкурентоспособным, выделяющим вас среди других решений на рынке.
        Решение
        Перечислите ключевые особенности, функциональные возможности или аспекты вашего продукта, которые решают выявленные проблемы и соответствуют вашему UVP.
        Каналы
        Укажите различные методы, с помощью которых вы планируете привлечь целевых клиентов, например, социальные сети, поисковая оптимизация (SEO), кампании по электронной почте или платная реклама.
        Потоки доходов
        Укажите способы, с помощью которых вы планируете получать доход от вашего продукта или услуги. Это могут быть продажи, подписка, спонсорство, партнерские отношения или другие каналы получения дохода.
        Структура затрат
        Перечислите основные затраты и расходы, связанные с созданием, запуском и поддержкой вашего продукта, включая разработку, маркетинг, эксплуатацию и поддержку.
        Ключевые метрики
        Определите показатели, которые вы будете использовать для отслеживания эффективности и оценки успеха вашего продукта. К таким показателям могут относиться продажи, вовлеченность пользователей, удовлетворенность клиентов или любые другие важные показатели успеха.
        Несправедливое преимущество
        
        Определите и опишите все несправедливые преимущества вашего продукта или бизнеса перед конкурентами. Это может быть уникальный опыт, запатентованная технология или стратегическое партнерство.
        Заполнив Lean Canvas, вы получите четкое и ясное представление о своей бизнес-модели, что позволит вам доработать концепцию, сосредоточиться на главном и донести свое видение до членов команды, инвесторов и клиентов. Это мощный инструмент, который может стать отличной отправной точкой для любого предпринимателя или стартапа, стремящегося создать успешный UX-дизайн.
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Lean Canvas</h6>
      </header>
    </article>
    <article data-step="13">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Концептуальный дизайн, который часто называют этапом большой идеи, является основополагающим этапом в процессе UX-дизайна. Он подразумевает создание и определение общей концепции, видения или основы продукта или услуги.
          На этом этапе дизайнеры сосредотачиваются на сборе информации, понимании проблемы и генерации идей, которые будут определять общий пользовательский опыт. Это включает в себя определение целей, потребностей и целевых пользователей, а также рассмотрение более широкого контекста, в котором будет существовать решение. Результатом должно стать четкое и ясное направление для будущей работы над дизайном.
          Ключевые компоненты концептуального дизайна включают в себя:
          1)	Определение проблемы: Определите и опишите основную проблему или задачу, которую призван решить ваш дизайн. Это должно включать в себя выводы из исследований пользователей, бизнес-цели и четкую цель дизайна.
          2)	Персоны пользователей и сценарии: Разработайте репрезентативные персоны пользователей, предоставив демографическую и поведенческую информацию, которая поможет понять потребности, мотивы и цели целевых пользователей. Затем можно создать сценарии, чтобы проиллюстрировать, как пользователи могут взаимодействовать с предлагаемым решением в различных контекстах.
          3)	Информационная архитектура: Определяет высокоуровневую структуру продукта или услуги, организуя контент и функции таким образом, чтобы пользователям было легко понимать и ориентироваться. Это помогает обеспечить четкое и последовательное представление информации на протяжении всего процесса работы.
          4)	Эскизы и каркасы: Создайте грубые наброски или эскизы для визуализации ключевых аспектов пользовательского интерфейса и изучения различных вариантов дизайна. Эти ранние прототипы помогут выявить потенциальные проблемы и направить будущие дизайнерские решения.
          5)	Принципы и рекомендации по дизайну: Определите набор принципов и рекомендаций высокого уровня, которые будут определять дизайн и служить основой для дальнейшей разработки. Они могут включать эстетические и функциональные критерии, а также обеспечение доступности и удобства использования.
          6)	Итерация: Постоянно дорабатывайте и итерируйте первоначальную концепцию, используя обратную связь от пользовательского тестирования и мнения заинтересованных сторон для внесения обоснованных корректировок в дизайн. Такой итеративный подход обеспечивает гибкость и адаптивность по мере реализации проекта.
          В конечном счете, цель концептуального дизайна - создать целостное и увлекательное видение, отвечающее потребностям пользователей и соответствующее бизнес-целям. Вкладывая время и усилия в этот основополагающий этап, дизайнеры могут заложить основу для успешного и приятного пользовательского опыта.
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Концептуальный дизайн</h6>
      </header>
    </article>
    <article data-step="14">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Модель Пяти Сил

        Модель «Пять сил» — это стратегическая концепция, разработанная профессором Гарвардской школы бизнеса Майклом Портером. Она предназначена для анализа конкурентной среды и помогает компаниям понять факторы, влияющие на конкуренцию, прибыльность и общую привлекательность отрасли. Эта модель важна для UX-дизайна, поскольку помогает выявлять возможности, принимать обоснованные решения и в конечном итоге создавать продукты, которые удовлетворяют потребности и предпочтения пользователей.
        
        Модель пяти сил состоит из пяти компонентов:
        
        - Конкурентная борьба: этот компонент отражает интенсивность конкуренции между существующими конкурентами в отрасли. К факторам, влияющим на конкурентную борьбу, относятся количество конкурентов, разнообразие конкурентов, уровень роста и спроса, а также барьеры для выхода на рынок. Знание своих конкурентов имеет решающее значение для UX-дизайна, поскольку помогает создавать функции и улучшения, которые обеспечивают конкурентное преимущество.
        - Угроза появления новых участников: возможность появления новых участников на рынке влияет на конкурентную среду. Эта сила определяется такими факторами, как потребность в капитале, эффект масштаба, затраты на переключение и доступ к каналам сбыта. Чтобы оставаться конкурентоспособным UX-дизайнером, вы должны постоянно оценивать потенциальные угрозы и совершенствовать свою стратегию для создания и поддержания уникального ценностного предложения.
        - Угроза появления заменителей: эта сила определяет, насколько легко пользователи могут переключиться на другие продукты или услуги, предлагающие аналогичные преимущества. К факторам, влияющим на угрозу появления заменителей, относятся наличие альтернатив, соотношение цены и качества и воспринимаемый уровень дифференциации продукта. Крайне важно понимать эти факторы и разрабатывать свой продукт таким образом, чтобы он выделялся на фоне других и пользователям было сложно найти ему замену.
        - Сила влияния поставщиков на переговорах: этот компонент оценивает влияние поставщиков на цены и качество товаров и услуг в вашей отрасли. К факторам, влияющим на силу влияния на переговорах, относятся количество поставщиков, наличие альтернативных ресурсов, узнаваемость бренда и структура затрат. При UX-дизайне важно учитывать, как поставщики влияют на разработку продукта, и определять способы тесного сотрудничества с поставщиками для создания ценных партнерских отношений.
        - Сила влияния покупателей: наконец, эта сила определяет степень контроля клиентов над ценой, характеристиками и общим качеством вашего продукта. К факторам, влияющим на силу влияния покупателей, относятся размер рынка, доступность информации для потребителей, дифференциация продукта и чувствительность к цене. При UX-дизайне крайне важно, чтобы ваш продукт соответствовал ожиданиям и предпочтениям пользователей, чтобы они воспринимали его как ценный и с меньшей вероятностью искали альтернативы.
        
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Модель пяти сил</h6>
    </article>
    <article data-step="15">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Для всестороннего SWOT-анализа выполните следующие шаги:
        1.	Сбор информации.
        — Соберите данные о внутренних сильных и слабых сторонах (финансовые показатели, организационная структура и т. п.).
        — Для внешнего анализа изучите рыночные тенденции, стратегии конкурентов и другие факторы, влияющие на бизнес-среду.
        2.	Выявление факторов.
        Составьте список всех факторов, влияющих на работу вашего бизнеса, и распределите их по четырём категориям: сильные и слабые стороны, возможности и угрозы.
        3.	Оценка и приоритизация.
        Оцените значимость каждого элемента матрицы SWOT, учитывая его влияние на бизнес и ресурсы, необходимые для работы с ним.
        4.	Разработка стратегий.
        На основе результатов SWOT-анализа разработайте стратегии, которые позволят:
        o	использовать сильные стороны,
        o	устранить или сгладить слабые,
        o	воспользоваться возможностями,
        o	нейтрализовать угрозы.
        5.	Мониторинг прогресса.
        Регулярно отслеживайте реализацию стратегий, оценивайте их эффективность и по мере необходимости обновляйте SWOT-анализ.
        В заключение, SWOT-анализ может служить отличной отправной точкой при создании прочной UX-стратегии. Понимая внутренние и внешние факторы, влияющие на ваш бизнес, вы сможете принимать обоснованные решения и проектировать пользовательский опыт, который резонирует с целевой аудиторией и способствует росту компании.          
        ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">SWOT-анализ</h6>
      </header>
    </article>
  </section>

  <!-- Секция Interface Builder -->
  <section class="step four text-success">
    <div class="circle">
      <h2>Прототи-пирование</h2>
    </div>
    <article data-step="16">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Правила хорошей вёрстки и рекомендации по дизайну
        В мире UX-дизайна грамотная вёрстка имеет решающее значение для того, чтобы ваш прототип был интуитивно понятным и удобным. Следуя этим правилам, вы обеспечите эффективность, привлекательность и понятную навигацию в ваших макетах.
        
        1. Последовательность
            Используйте одни и те же цветовые схемы, шрифтовые стили и другие элементы дизайна во всём прототипе. Это создаёт визуальную целостность и облегчает пользователям ориентирование.
        2. Выравнивание и отступы
            Убедитесь, что все элементы в макете выровнены и имеют равномерные отступы. Это придаёт дизайну аккуратность и структурированность, а пользователям — простоту восприятия.
        3. Визуальная иерархия
            С помощью размера, цвета, контраста и «пустого» пространства расставляйте акценты на самых важных элементах. Пользователи сразу увидят, куда смотреть в первую очередь, и легко поймут логику интерфейса.
        4. Группировка элементов
            Объединяйте связанные между собой элементы (например, пункты меню или поля форм). Это помогает быстрее распознавать назначение каждого блока и делает интерфейс более понятным.
        5. Баланс и пропорции
            Распределяйте элементы равномерно, соблюдая гармонию на экране. Сетки и другие приёмы вёрстки помогут поддерживать аккуратный и уравновешенный вид.
        6. Доступность
            Учитывайте такие факторы, как размер шрифта, контрастность и сочетание цветов, чтобы сделать интерфейс удобным для людей с разными возможностями и предпочтениями.
        7. Адаптивность и гибкость
            Проектируйте прототип так, чтобы он корректно отображался на различных устройствах и экранах. Особенно важно для веб- и мобильных приложений обеспечить единообразный опыт работы.
        8. Итерации и тестирование
            Постоянно проверяйте и дорабатывайте вёрстку на основе отзывов пользователей и аналитики. Это позволит уточнить дизайн и гарантировать, что он соответствует потребностям целевой аудитории.
        Интегрируя эти правила в процесс создания прототипов, вы добьётесь удобного, эффективного и эстетичного UX-дизайна, отвечающего целям вашего проекта.
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Правила хорошей вёрстки</h6>
      </header>
    </article>
    <article data-step="17">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Figma — это мощный и универсальный веб-инструмент для дизайна, который позволяет дизайнерам, разработчикам и заинтересованным сторонам совместно работать над UI и UX-проектами в режиме реального времени. Он отлично подходит для создания вайрфреймов и прототипов высокого качества, поддерживает векторное редактирование, адаптивный дизайн и командное взаимодействие.

        Ключевые возможности:
        - Совместная работа в реальном времени:  несколько пользователей могут одновременно править одну и ту же работу и видеть изменения друг друга мгновенно.
        - Независимость от платформы: так как Figma работает в браузере, им можно пользоваться на любом устройстве с выходом в Интернет — Windows, macOS и Linux.
        - Компоненты: система «компонентов» позволяет повторно использовать элементы дизайна. При изменении главного (мастер-) компонента все его экземпляры обновляются автоматически, что помогает сохранять единый стиль.
        - Прототипирование: встроенные инструменты прототипирования (анимации, переходы и пр.) дают возможность создавать интерактивные прототипы и демонстрировать предполагаемый пользовательский опыт заинтересованным сторонам или тестировать дизайн с реальными пользователями.
        - История версий: Figma автоматически сохраняет все правки и ведёт историю версий, позволяя при необходимости вернуться к любому предыдущему состоянию.
        - Плагины: богатая экосистема пользовательских плагинов расширяет функциональность Figma и позволяет адаптировать инструмент под ваши задачи.          
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Figma</h6>
      </header>
    </article>
    <article data-step="18">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Adobe XD (Experience Design) — это мощный инструмент для дизайна и прототипирования, который позволяет UX-дизайнерам создавать вайрфреймы, макеты и интерактивные прототипы для различных цифровых проектов. Он доступен как для macOS, так и для Windows и предлагает простой, интуитивно понятный интерфейс для разработки адаптивных веб-сайтов, мобильных приложений и других продуктов.
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Adobe XD</h6>
      </header>
    </article>
    <article data-step="19">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Sketch — это мощный цифровой инструмент дизайна, специально ориентированный на разработку пользовательского интерфейса (UI) и пользовательского опыта (UX). В рамках креативного процесса дизайнеры используют Sketch для создания вайрфреймов, визуальных макетов и интерактивных прототипов, помогающих планировать и дорабатывать идеи.
          Ключевые возможности:
          •	Векторная графика: в отличие от растровых программ (например, Photoshop), Sketch работает с векторными формами, что позволяет создавать чёткие дизайны, масштабируемые до любого разрешения без потери качества.
          •	Артоборды: артборды задают области на холсте для разработки макетов разных размеров экранов, устройств и ориентаций, что упрощает создание и тестирование адаптивных layouts.
          •	Символы: символы — это переиспользуемые компоненты дизайна (кнопки, иконки, меню навигации и т. п.). При изменении мастер-символа все его экземпляры в проекте обновляются автоматически, что экономит время.
          •	Варианты экспорта: Sketch поддерживает экспорт в форматы PNG, JPG, SVG и другие, а также предлагает настройки оптимизации ресурсов под разные платформы, например iOS и Android.
          •	Совместная работа и плагины: Sketch обладает обширным набором плагинов и интеграций для командной работы, а также расширяется благодаря плагинам сообщества.
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Sketch</h6>
      </header>
    </article>
  </section>

  <!-- Секция Измерение влияния -->
  <section class="step five text-success">
    <div class="circle">
      <h2>Измерение влияния</h2>
    </div>
    <article data-step="20">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Измерение влияния UX-дизайна очень важно для понимания его эффективности и внесения необходимых улучшений. В этом разделе мы рассмотрим ключевые показатели, методы и инструменты, которые помогут вам измерить влияние ваших усилий в области UX-дизайна.
        Ключевые метрики
        
        Несколько показателей помогут вам определить, насколько ваш UX-дизайн соответствует поставленным целям. Среди них можно выделить следующие:
        1)	Удовлетворенность пользователей: Соберите отзывы с помощью опросов, рейтингов или интервью, чтобы оценить удовлетворенность пользователей вашим дизайном.
        2)	Выполнение задач: Измерьте процент пользователей, которые могут без проблем выполнить определенные задачи в рамках дизайна.
        3)	Время выполнения: Проанализируйте время, затрачиваемое пользователями на выполнение задач, чтобы определить эффективность и простоту использования.
        4)	Количество ошибок: Отслеживайте количество ошибок, которые допускают пользователи при взаимодействии с вашим дизайном, чтобы оценить удобство использования.
        Коэффициент конверсии: Рассчитайте процент пользователей, совершивших целевое действие (регистрация, покупка и т. д.), чтобы оценить эффективность дизайна.
        Методы измерения
        Для измерения влияния UX-дизайна можно использовать различные методы, например:
        - Тестирование юзабилити: Проведение тестов с реальными пользователями для наблюдения за их взаимодействием с вашим дизайном, выявления проблем и областей улучшения.
        - A/B-тестирование: Сравните две разные версии вашего дизайна, чтобы определить, какая из них лучше соответствует вашим целям.
        - Тепловые карты: Визуализация взаимодействия пользователей (клики, касания, прокрутки) в рамках вашего дизайна для выявления популярных областей и потенциальных проблемных мест.
        - Опросы и интервью с пользователями: Соберите качественные данные об удовлетворенности пользователей, их предпочтениях и болевых точках, чтобы оценить влияние дизайна.
        Инструменты для измерения воздействия
        Несколько инструментов могут помочь вам в измерении влияния вашего UX-дизайна, в том числе:
        - Google Analytics: Бесплатный инструмент для отслеживания поведения пользователей, например, коэффициентов конверсии, отказов и пользовательских потоков в рамках вашего дизайна.
        - Hotjar: Популярный инструмент для создания тепловых карт, сбора отзывов пользователей и записи пользовательских сессий для анализа.
        - Optimizely: Платформа для A/B-тестирования, многовариантного тестирования и персонализации вашего дизайна.
        - UsabilityHub: Платформа для тестирования пользователей, которая предлагает ряд инструментов для проверки вашего дизайна, включая тесты первого клика, тесты предпочтений и пятисекундные тесты.
        Регулярно измеряя влияние вашего UX-дизайна и анализируя собранные данные, вы сможете эффективно улучшать дизайн, обеспечивая положительный пользовательский опыт и достижение ваших бизнес-целей
        
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Зачем?</h6>
      </header>
    </article>
    </article>
    <article data-step="21">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal" data-modal-content="Многовариантное тестирование - это передовой метод пользовательского тестирования, который позволяет дизайнерам проверить несколько элементов или вариаций в рамках одного теста. Его основная цель - выявить наиболее эффективные варианты среди нескольких конкурирующих вариантов дизайна. Многовариантное тестирование дает представление о том, как различные варианты дизайна влияют на пользовательский опыт и конверсию, и помогает определить, какая комбинация элементов лучше всего работает для ваших пользователей.
        Как это работает
        При многовариантном тестировании несколько вариантов дизайна одновременно представляются разным группам пользователей. Цель теста - измерить эффективность каждого варианта дизайна с помощью четко определенных показателей, таких как коэффициент конверсии, количество кликов или вовлеченность пользователей. Данные собираются и анализируются, чтобы определить, какой вариант оказывает наибольшее положительное влияние на эти заранее определенные показатели.
        Ключевые преимущества
        Оптимизация: Многовариантное тестирование позволяет дизайнерам оптимизировать свои проекты, определяя наиболее эффективные варианты для каждого элемента. В конечном итоге это приводит к улучшению общей производительности пользовательского интерфейса.
        Повышение уверенности: Сравнивая несколько элементов дизайна одновременно, дизайнеры могут получить данные, необходимые для принятия обоснованных решений, что повышает уверенность в правильности выбора дизайна.
        Эффективность: Многомерное тестирование позволяет дизайнерам тестировать несколько элементов в рамках одного теста. Это экономит время, усилия и ресурсы по сравнению с тестированием каждого элемента по отдельности.
        Когда следует использовать многомерное тестирование
        Сложные дизайны или высокая посещаемость: Многовариантное тестирование особенно подходит для сложных дизайнов с множеством комбинаций, а также в ситуациях, когда ожидается, что дизайн будет генерировать большой трафик.
        Подтверждение наиболее эффективных вариаций: Когда упрощенное A/B-тестирование не дает достаточно информации для определения лучшей вариации, многовариантное тестирование может дать более глубокие выводы.
        Если гипотезы неясны: если вы не уверены, какой элемент дизайна отвечает за желаемое поведение пользователя, многовариантное тестирование может предоставить ценную информацию для принятия решений.
        Что нужно учитывать
        Многомерное тестирование может потребовать большей выборки пользователей по сравнению с A/B-тестированием, поскольку анализируется больше вариантов дизайна. Кроме того, этот метод лучше всего работает при достаточном трафике или высоком уровне вовлеченности пользователей.
        Помните, что, хотя многовариантное тестирование может дать ценные сведения, важно не упускать из виду общую картину. Сосредоточьтесь на тестировании элементов, которые действительно важны для достижения целей вашего дизайна, и уделяйте приоритетное внимание обратной связи с пользователями на каждом этапе процесса.
        
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Многомерное тестирование</h6>
      </header>
    </article>
    <article data-step="22">
      <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
        <span class="info-btn" data-bs-toggle="modal" data-bs-target="#infoModal"
          data-modal-content="Инкрементное A/B-тестирование - это процесс тестирования небольших изменений в дизайне, контенте или функциональности вашего пользовательского опыта (UX) для оценки их влияния на ваши цели конверсии. Вместо того чтобы вносить в дизайн большие и масштабные изменения, инкрементное A/B-тестирование фокусируется на небольших, итеративных изменениях, которые можно измерить и проанализировать. Такой подход имеет ряд преимуществ:
          1)	Снижение риска
          Внося небольшие, более целенаправленные изменения, вы можете снизить риск, связанный с более крупными изменениями, которые могут затронуть несколько аспектов вашего дизайна. Это позволит вам выделить конкретные элементы пользовательского опыта и точнее определить влияние ваших изменений.
          2)	Более легкая реализация
          Инкрементные изменения, как правило, легче внедрять и тестировать, что может привести к сокращению цикла разработки и ускорению сроков внедрения улучшений. Это поможет вам сэкономить ценные ресурсы, такие как время и бюджет, одновременно улучшая дизайн UX.
          3)	Больше информации, основанной на данных
          Поскольку инкрементное A/B-тестирование дает более конкретные и целенаправленные результаты, вы можете собрать больше данных, которые помогут вам принимать более обоснованные решения по UX-дизайну. Это может привести к более целенаправленному подходу при внесении будущих улучшений в дизайн.
          Как проводить инкрементное A/B-тестирование:
          Шаг 1: Определите цель
          Прежде чем приступить к тестированию, необходимо четко понимать цель, которую вы пытаетесь достичь с помощью постепенных изменений. Это может быть повышение конверсии, снижение отказов или улучшение вовлеченности пользователей.
          Шаг 2: Определите гипотезу
          Разработайте гипотезу для каждого изменения. Ваша гипотеза должна быть основана на исследованиях и данных и должна четко определять ожидаемый результат от дополнительных изменений.
          Шаг 3: Разработка и внедрение изменений
          Разработайте и внедрите изменения в соответствии с вашей гипотезой. Чтобы повысить точность данных и упростить внедрение, делайте изменения конкретными, целенаправленными и постепенными.
          Шаг 4: Настройте A/B-тестирование
          Используйте надежный инструмент для A/B-тестирования, чтобы создать тестовую среду. Убедитесь, что у вас есть контрольная версия (без изменений) и лечебная версия (с изменениями) для сравнения в ходе тестирования.
          Шаг 5: Анализ и интерпретация результатов
          После завершения тестирования проанализируйте результаты, чтобы определить, оказало ли ваше дополнительное изменение желаемое влияние на достижение цели. Оцените данные и примите решения на основе полученных результатов.
          Шаг 6: Итерации и улучшения
          На основе полученных результатов проведите итерацию и внесите улучшения в UX-дизайн. Продолжайте проводить инкрементные A/B-тесты, дорабатывая дизайн для достижения наилучшего пользовательского опыта.
          Используя инкрементное A/B-тестирование, вы тщательно изучите влияние каждого небольшого изменения в UX-дизайне, что позволит вам создать оптимизированный пользовательский опыт и эффективно достичь целей конверсии.
          ">
          <i class="fa-solid fa-ghost bg-success px-3"></i>
        </span>
        <h6 class="text-uppercase my-3 ps-4">Инкрементное A/B-тестирование</h6>
      </header>
    </article>
  </section>
</main>
{% endblock content %}